// Login Page

#login-error {
    width: 30%;
}

#vertical-separator {
	height: 50px;
}

#profile-form\:update-fields td {
	padding-right: 10px;
}

#profile-pic {
	width: auto;
	position: absolute;
	margin-left: 10%;
	border: 2px solid #777;
	padding: 20px;
	border-radius: 30px;
	border-width: 2px;
}

#profile-data-container {
	float:right;
	margin-right: 30%;
}

#profile-data {
	border: medium solid rgb(119, 119, 119);
	padding: 20px;
	border-radius: 30px;
	border-width: 2px;
}

#profile-form\:update-profile {
	float: right;
	margin-top: 10px;
}

#picture-upload {
	margin-top: 50px;
}

#user-name-indicator {
	padding-top: 15px;
	padding-right: 15px;
	color: #777;
}

.arrow_box {
	position: relative;
	background: #88b7d5;
	border: 4px solid #c2e1f5;
}
.arrow_box:after, .arrow_box:before {
	left: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box:after {
	border-color: rgba(136, 183, 213, 0);
	border-left-color: #88b7d5;
	border-width: 30px;
	margin-top: -30px;
}
.arrow_box:before {
	border-color: rgba(194, 225, 245, 0);
	border-left-color: #c2e1f5;
	border-width: 36px;
	margin-top: -36px;
}

