<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:security="http://www.springframework.org/schema/security"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
				http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
				http://www.springframework.org/schema/tx
		        http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
		        http://www.springframework.org/schema/security
                http://www.springframework.org/schema/security/spring-security-4.0.xsd
		        http://www.springframework.org/schema/context
		        http://www.springframework.org/schema/context/spring-context-4.0.xsd">

    <!--<context:annotation-config />-->
    <context:component-scan base-package="frontend.*" />

    <bean class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder" id="passwordEncoder" />

    <security:http auto-config="true" use-expressions="true">
        <!--<security:intercept-url pattern="/" access="permitAll" />-->
        <!-- todo: add pattern instead of separate pages (organize into folders) -->
        <security:intercept-url pattern="/login.xhtml" access="permitAll" />
        <security:intercept-url pattern="/profile.xhtml" access="hasRole('ROLE_USER')" />
        <security:intercept-url pattern="/main.xhtml" access="isAuthenticated()" />
        <security:intercept-url pattern="/about.xhtml" access="isAuthenticated()" />
        <security:intercept-url pattern="/main.xhtml" access="isAuthenticated()" />
        <security:intercept-url pattern="/friends.xhtml" access="isAuthenticated()" />
        <security:intercept-url pattern="/trips.xhtml" access="isAuthenticated()" />
        <!-- <intercept-url pattern="/*" requires-channel="https" /> -->

        <security:form-login login-page="/login.xhtml"
                             username-parameter="j_username"
                             password-parameter="j_password"
                             login-processing-url="/j_spring_security_check"
                             default-target-url="/main.xhtml"
                             authentication-failure-url="/login.xhtml?login_error=1" />
        <security:logout logout-success-url="/login.xhtml" logout-url="/j_spring_security_logout" />
        <security:csrf disabled="true"/><!-- todo: use CSRF -->
    </security:http>

    <security:authentication-manager>
        <security:authentication-provider user-service-ref="customUserDetailsService">
            <security:password-encoder hash="plaintext"></security:password-encoder><!-- todo: bcrypt not working -->
        </security:authentication-provider>
        <security:authentication-provider>
            <security:user-service>
                <security:user name="a" password="a" authorities="ROLE_USER" />
                <security:user name="admin" authorities="ROLE_USER" />
                <security:user name="alma" password="alma" authorities="ROLE_USER" />
            </security:user-service>
        </security:authentication-provider>
    </security:authentication-manager>

    <!--
        Tomcat config for HTTPS support:
        <Connector SSLEnabled="true" keystoreFile="" keystorePass="" port="8443" scheme="https" secure="true" sslProtocol="TLS"/>
    -->

<!--
    <bean id="DataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource"
          destroy-method="close">
        <property name="driverClass" value="com.mysql.jdbc.Driver" />
        <property name="jdbcUrl" value="jdbc:mysql://#{systemEnvironment[OPENSHIFT_MYSQL_DB_HOST]}:#{systemEnvironment[OPENSHIFT_MYSQL_DB_PORT]}/#{systemEnvironment[OPENSHIFT_APP_NAME]}" />
        <property name="user" value="#{systemEnvironment[OPENSHIFT_MYSQL_DB_USERNAME]}" />
        <property name="password" value="#{systemEnvironment[OPENSHIFT_MYSQL_DB_PASSWORD]}" />
        <property name="maxPoolSize" value="10" />
        <property name="maxStatements" value="0" />
        <property name="minPoolSize" value="5" />
    </bean>

    <bean id="SessionFactory"
          class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
        <property name="dataSource" ref="DataSource" />
        <property name="annotatedClasses">
            <list>
                <value>weathernotificationapp.entity.SubscriptionEntity</value>
            </list>
        </property>
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
                <prop key="hibernate.show_sql">true</prop>
            </props>
        </property>
    </bean>

    <tx:annotation-driven transaction-manager="txManager" />

    <bean id="txManager"
          class="org.springframework.orm.hibernate4.HibernateTransactionManager">
        <property name="sessionFactory" ref="SessionFactory" />
    </bean>
-->
</beans>